<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta charset="utf-8">
  <!-- v12509 -->
  <title>Curiosity</title>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="LfqYlm08Ut/B/58ZyShck2X31LsUG2tUaS2h0v6rbcYN/clqG9/Gs5uF8jTk6S1cGhapSjmZWDI4L8QKemGxvQ==" />
  <link rel="canonical" href="https://get.slack.help/hc/en-us" />
  <link rel="alternate" hreflang="de" href="https://get.slack.help/hc/de" />
  <link rel="alternate" hreflang="en" href="https://get.slack.help/hc/en-us" />
  <link rel="alternate" hreflang="es" href="https://get.slack.help/hc/es" />
  <link rel="alternate" hreflang="fr" href="https://get.slack.help/hc/fr-fr" />
  <link rel="alternate" hreflang="ja" href="https://get.slack.help/hc/ja" />

  <!-- Entypo pictograms by Daniel Bruce — www.entypo.com -->
  <link rel="stylesheet" media="all" href="//p4.zdassets.com/hc/assets/application-c1a66f34bace664826c9f39901872394.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p4.zdassets.com/hc/themes/138842/201159516/style-094e025cbfd1eb8f2094ada6466e1eee.css?brand_id=1067416&amp;locale=en-us" />

  <link rel="shortcut icon" type="image/x-icon" href="//p4.zdassets.com/hc/settings_assets/138842/200037786/Ak8kv4RMmpHxh4F6gySEgw-favicon.png" />

  <!--[if lt IE 9]>
  <script>
    //Enable HTML5 elements for <IE9
    'abbr article aside audio bdi canvas data datalist details dialog \
    figcaption figure footer header hgroup main mark meter nav output \
    progress section summary template time video'.replace(/\w+/g,function(n){document.createElement(n)});
  </script>
<![endif]-->

  <script src="//p4.zdassets.com/hc/assets/jquery.js"></script>




  <!-- add code here that should appear in the document head -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="google-site-verification" content="3XvXZxm1naLcLEx60aJGaoYHCetFcg8vLZKjy4nzRM4" />

  <link id="favicon" rel="shortcut icon" href="https://slack.global.ssl.fastly.net/66f9/img/icons/favicon-32.png" sizes="16x16 32x32 48x48" type="image/png" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  <link rel="search" href="//p4.zdassets.com/hc/theme_assets/138842/200037786/opensearchdescription.xml" type="application/opensearchdescription+xml" title="Slack Help" />

  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="//fast.wistia.com/assets/external/popover-v1.js" charset="ISO-8859-1"></script>


  <script src="//p4.zdassets.com/hc/theme_assets/138842/200037786/slack.zendesk-min.js?july24_1"></script>


  <script type="text/javascript" src="//p4.zdassets.com/hc/themes/138842/201159516/script-094e025cbfd1eb8f2094ada6466e1eee.js?brand_id=1067416&amp;locale=en-us"></script>

  <style>
  .site_footer {
      bottom: 0;
  }
  .promoted-articles {
      text-align: center;
  }
  .contact_us {
      text-align: center;
  }
  .header .header_title {
      border: none;
  }
  </style>

</head>

<body class="">



  <header class="header">
    <div class="header_logo">
      <a href="/hc" class="header_title">IBM Research | Curiosity</a>
    </div>


    <i class="hidden ts_icon ts_icon_times_circle ts_icon_inherit close_search"></i>
  </header>


  <div class="fs_menu hidden">
    <a href="/hc"><img border="0" class="fs_logo" src="//p4.zdassets.com/hc/theme_assets/138842/200037786/logo_white.png" alt="Slack Help Center" /></a>
    <a href="#" class="close_menu" aria-label="close">
		<i class="ts_icon ts_icon_times ts_icon_inherit"></i>
	</a>
    <ul>
      <li><a href="/hc/categories/200111606">Using Slack</a></li>
      <li><a href="/hc/categories/200122103">Team Administration</a></li>
      <li><a href="/hc/categories/202622877">Slack Guides</a></li>
      <li><a href="https://my.slack.com/">Back to Slack</a></li>
    </ul>
    <a href="https://slack.com/help/contact" class="get_help">Contact Us</a>
  </div>

  <main role="main">
    <section class="hero_banner">
      <div class="search_container">
        <h2 class="search_title">Curious?</h2>

        <form class="search" accept-charset="UTF-8" method="post" role="search">
          <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="query" name="query" tittle="Find anything (like channels, emoji, or reset password)" placeholder="Enter a sentence" data-smallplaceholder="Search the Help Center" type="search" />
          <input name="commit" type="submit" value="Search" />
        </form>


      </div>
    </section>

    <div class="loc_banner_container"></div>

    <div class="hidden" id="highlighting_words">
      <option value="highlighting">
        activity, add an app, Add members, Add to Slack, administrators, all passwords, android, announcement, App Directory, app icon, Apple Watch, archive, Asana, Automation apps, Fair Billing, billing details, billing, bot user, box, browse, calls, Calls !pobeta!pc,
        changes, channels, channel notification, claim domains, close, compliance exports, compose, computers, connect, connected accounts, create, customize, custom SAML, custom, data exports, data security, deactivate, default channels, delete, deploy
        slack, desktop, direct messages, disable, discover and join, DMs, Do Not Disturb, domain, dropbox, edit, education, email address, email, emoji, emoticons, export, failed payments, faqs, finding, format, formatting, free trial, general, getting
        started, giphy, github integration, github organization, github, glossary, google apps, google drive, guests, highlights, highlight word, import, integrations, ios, invite, JIRA, join, keyboard shortcuts, languages, leave, limits, links, linux,
        mac, manage apps, manage members, mention, merge, message display, mobile push, move channels, moving teams, multiple, mute, nonprofits, OneDrive, onboard, owners, password, permissions, phones, pin, plus plan, polls, primary ownership, privacy
        policies, private channel, private notes and files, public channel, purpose, Quick Switcher, quote, reactivate, read, referrer information, reminder, remove, rename, retention, Request a new team, role, roles, RSS, Salesforce, SAML, SCIM, SCIM
        provisioning, search, send, share messages, share, shared channel, shared channels, sign in, sign out, single sign-on, Slack notifications, slack status, slackbot, slash commands, snippet, snooze, star, statistics, sync, tablets, tax, team creation
        requests, team discovery, team domain, team domains, team name, team plan, team url, team urls, threads, time zone, tips, to-do lists, topic, Trello, troubleshoot, trouble receiving, twitter, two-factor authentication, updates, upgrade, upload,
        username, user groups, unread messages, video, voice call, voice, what is, whitelisting, windows phone, windows, working in, wunderlist, zoom
      </option>
    </div>

    <div class="hidden" id="search_meta">
      <option value="search_for">Search for "{term}"</option>
      <option value="see_n_results">See {n}+ more results →</option>
    </div>


    <section class="promoted-articles">
      {% if result %}
          <h1>{{ result }}</h1>
      {% endif %}

    </section>


  </main>


  <div class="purple_banner hidden">
    <div class="first_row">
      <i class="wave"></i>
      <b>Brand new to Slack?</b>
      <span>Check out these helpful guides.</span>
    </div>
    <div class="second_row">
      <a class="btn" href="/hc/categories/202622877-Slack-Guides" target="_blank">Getting Started</a>
      <a class="btn" href="/hc/articles/213817348-Slack-glossary">Slack Glossary</a>
    </div>
    <button class="close_purple ts_icon ts_icon_times" />
  </div>


  <footer class="site_footer">

    <div class="slack_footer">
      <div class="site_footer_container">
        <a href="https://slack.com" aria-label="Slack">
        </a>
        <ul>
          <li>
            <a class="contact_us" href="#">Made with &hearts; at IBM Research</a>
          </li>
        </ul>
      </div>
    </div>


  </footer>

  <div id="yt_player" class="theme_light">
    <div class="letter_box_holder">
      <div id="iframe_holder"></div>
    </div>
    <div id="yt_close" class="ts_icon ts_icon_times">esc</div>
  </div>


  <div class="powered-by-zendesk">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" focusable="false" viewBox="0 0 26 26">
    <path d="M12 8.2v14.5H0zM12 3c0 3.3-2.7 6-6 6S0 6.3 0 3h12zm2 19.7c0-3.3 2.7-6 6-6s6 2.7 6 6H14zm0-5.2V3h12z"/>
  </svg>

    <a href="https://www.zendesk.com/help-center/?utm_source=helpcenter&utm_medium=poweredbyzendesk&utm_campaign=text&utm_content=Slack" target="_blank">Powered by Zendesk</a>
  </div>


  <!-- / -->

  <script type="text/javascript" src="//p4.zdassets.com/hc/assets/locales/en-us-b676353373288f86b75d83d6ccc9f7b2.js"></script>
  <script src="https://slack.zendesk.com/auth/v2/host.js" data-brand-id="1067416" data-return-to="https://get.slack.help/hc/en-us" data-theme="hc" data-locale="1" data-auth-origin="1067416,true,true"></script>
  <script type="text/javascript" src="https://p4.zdassets.com/assets/zendesk_pci_hc.v4.js"></script>

  <script type="text/javascript">
    /*

        Greetings sourcecode lurker!

        This is for internal Zendesk and legacy usage,
        we don't support or guarantee any of these values
        so please don't build stuff on top of them.

      */

    HelpCenter = {};
    HelpCenter.account = {
      "subdomain": "slack",
      "environment": "production",
      "name": "Slack"
    };
    HelpCenter.user = {
      "identifier": "da39a3ee5e6b4b0d3255bfef95601890afd80709",
      "email": null,
      "name": null,
      "role": "anonymous",
      "avatar_url": "https://assets.zendesk.com/hc/assets/default_avatar.png",
      "organizations": [],
      "groups": []
    };
    HelpCenter.internal = {
      "asset_url": "//p4.zdassets.com/hc/assets/",
      "current_session": {
        "locale": "en-us",
        "csrf_token": "hSjaZV3zYoSi+Aot/FV94f/9fRygRMzCYcKBgwueOKSlL4uZKxD26PiCZwDRlAwugBwA7Y3G/6QwwORbj1Tk3w==",
        "shared_csrf_token": null
      },
      "settings": {
        "zopim_enabled": true,
        "spam_filter_enabled": false
      },
      "current_record_id": null,
      "current_record_url": null,
      "current_record_title": null,
      "search_results_count": null,
      "current_text_direction": "ltr",
      "current_brand_url": "https://slack.zendesk.com",
      "current_host_mapping": "get.slack.help",
      "current_path": null,
      "authentication_domain": "https://slack.zendesk.com",
      "show_autocomplete_breadcrumbs": true,
      "heap_analytics_id": null,
      "user_info_changing_enabled": false,
      "has_user_profiles_enabled": false,
      "has_anonymous_kb_voting": false,
      "has_advanced_upsell": false,
      "has_multi_language_help_center": true,
      "has_user_segments": true,
      "mobile_device": false,
      "mobile_site_enabled": false,
      "show_at_mentions": false,
      "has_copied_content": false,
      "embeddables_config": {
        "embeddables_web_widget": false,
        "embeddables_automatic_answers": false,
        "embeddables_connect_ipms": false
      },
      "plans_url": "https://get.slack.help/hc/admin/plan?locale=en-us",
      "manage_content_url": "https://get.slack.help/hc/en-us",
      "arrange_content_url": "https://get.slack.help/hc/admin/arrange_contents?locale=en-us",
      "general_settings_url": "https://get.slack.help/hc/admin/general_settings?locale=en-us",
      "user_segments_url": "https://get.slack.help/hc/admin/user_segments?locale=en-us",
      "has_community_enabled": false,
      "has_multiselect_field": false,
      "has_groups": true,
      "has_internal_sections": true,
      "has_organizations": true,
      "has_tag_restrictions": true,
      "has_answer_bot_web_form": false,
      "billing_url": "/access/return_to?return_to=https://slack.zendesk.com/billing",
      "has_answer_bot_management": false,
      "answer_bot_management_url": "https://get.slack.help/hc/admin/answer_bot?locale=en-us",
      "is_account_owner": false,
      "guide_plan_state": "plan_legacy"
    };
  </script>

  <script src="//p4.zdassets.com/hc/assets/hc_enduser-b86ed3b4df36806f3ded.js"></script>


  <script type="text/javascript">
    (function() {
      var Tracker = {};

      Tracker.track = function(eventName, data) {
        var url = "https://get.slack.help/hc/tracking/events?locale=en-us";

        var payload = {
          "event": eventName,
          "data": data,
          "referrer": document.referrer
        };

        var xhr = new XMLHttpRequest();

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
        xhr.send(JSON.stringify(payload));
      };

      Tracker.track("front_page_viewed", "BAh7AA==--50d1974e05bddc24bd4b43467913737de44d3c7e");
    })();
  </script>
</body>

</html>
